<footer class="page-footer grey darken-4">
    <div class="container section">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ABC Institute Of Technology</h5>
          <p class="grey-text text-lighten-4">Sector 7, Phase I, <br>
            Weeping Willow Avenue Park, <br>
            Nevada, New York – 70. <br>
            New York, United States.
          </p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright &copy; 2020 <a class="orange-text text-lighten-3" href="http://rait.ac.in">ABC Institute Of Technology</a>
      </div>
    </div>
  </footer>