<header>
    <nav class="materialize-red" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="{{ url_for('home') }}" class="brand-logo valign-wrapper align-right" style="display: flex">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" height="auto" width="40" class="hide-on-small-only responsive-img" style="margin-right: 0.5em">
            RAIT Virtual Labs
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('labs') }}">Labs</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="{{ url_for('labs') }}">Labs</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
</header>