{% extends 'layout/base.html' %}
{% block title %}Labs{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col s6">
      <h2>Labs</h2>
    </div>
    <div class="col s6 right-align">
      {% if current_user.is_authenticated %}
      <h2><a href="{{ url_for('add') }}" 
        class="black-text tooltipped" 
        data-position="top" 
        data-tooltip="Add new lab">
        <i class="small material-icons">add_circle_outline</i>
      </a></h2>
      {% endif %}
    </div>
  </div>
</div>
<div class="container section">
  <ul class="collection">
    {% for lab in lab_list %}
    <li class="collection-item avatar">
      <i class="material-icons circle materialize-red">folder</i>
      <h4 style="margin-top: 0; margin-bottom: 0.2em;">{{ lab.title }}</h4>
      <p class="grey-text" style="margin-bottom: 1.5em;">{{ lab.stream }} - {{ lab.date_posted.strftime('%b %d, %Y') }}</p>
      <p>{{ lab.description }}</p>
      <a href="{{ url_for('static', filename='labs/' + lab.lab_url) }}" class="secondary-content"><i class="material-icons">call_made</i></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock main %}